/** This is the CSS for "Hawaii holiday" Google Maps API tutorial
*  View the Bitbucket repository here: https://bitbucket.org/andrewlui/google-maps/
*  Run the source code here: http://tinyurl.com/alui-mapstutorial
**/

/** Ensuring that ancestors have a size specified **/
html {
	height: 100% 
}
body {
	height: 100%; 
	margin: 0;
	padding: 0;
}

h2 {
    border-bottom: 1px solid #AAAAAA;
}

/** Styling the elements on the page **/
#map-canvas {
	height: 100%;
    width: 50%;
    float: right;
    background: url("hawaii.jpg");
    background-size: 100% 100%;
}
#left-pane {
    height: 100%;
    float: left;
    width: 43%;
    padding-left: 55px;
    padding-right: 15px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    background: linear-gradient(to left, rgba(245,243,238,0), rgba(245,243,238,1));
}

#tutorial-title {
    text-align: center;
}
#tutorial-title h3 {
    padding-bottom: 20px;
}

.note {
    background-color:#DFEDF7;
    border-radius:5px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    color:#474747;
}

.code {
    overflow-x: auto;
    white-space:nowrap;
    background-color: black;
    color:limegreen;
    border: 5px solid black;
    border-radius: 3px;
}

.action {
    font-family: Roboto;
    font-size:20;
    font-weight: bolder;
    margin: auto;
    text-align:center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.action a {
    text-decoration: none;
}

.footer-button {
    font-size: 15;
    height: 30px;
    width: 80px;
    padding-top: 8px;
    border: 1px solid #2E3C68;
    background-color:#97A6D8;
    border-radius:5px;
    margin: auto;
    text-align:center;
}

.footer-button > a {
    font-family: Nunito;
    text-decoration: none;
    color: #202020;
}

.footer-button.next {
    float: right;
}

.footer-button.previous {
    float:left;
}

